body{
    padding: 0;
    margin: 0;
}
.accueil{
    display: flex;
}
.image {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    padding-left: 20px;
    display: grid;

}
.image img{
    width: 70px;
    height: 70px;
    padding-right: 20px ;
}
.lien a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 255, 0.281);
}
.info{
    background-color: black;
    color: aliceblue;
     height: 620px;
    width: 50rem;
}
h1{
    font-size: 70px;
}
p{
    font-size: 30px;
}
@media screen and (max-width:760px) {
    .info h1{
        font-size: 50px;
    }
    .info p{
        font-size: 23px;
    }
    .accueil{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:660px){
    .image img{
        width: 40px;
        height: 40px;
        padding-right: 6px ;
    }
}
